/node_modules

*node_modules/*
*dist/*
*build/*
.vscode/*
/coverage
**.snap
**.stories.js
**.spec.js
**.test.js
/storybook-static
.storybook/*
.github/*
.examples/*
*__tests__/**/*.{js,jsx,ts,tsx}
**.{spec,test}.{js,jsx,ts,tsx}
**.stories.{js,jsx,ts,tsx}